<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GPSRouting</display-name>
  <servlet>
    <servlet-name>GetAllRegionServlet</servlet-name>
    <servlet-class>com.servlet.GetAllRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSingleRegionServlet</servlet-name>
    <servlet-class>com.servlet.DeleteSingleRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPeopleServlet</servlet-name>
    <servlet-class>com.servlet.AddPeopleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRegionServlet</servlet-name>
    <servlet-class>com.servlet.AddRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddConnectionServlet</servlet-name>
    <servlet-class>com.servlet.AddConnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>com.servlet.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPeriodServlet</servlet-name>
    <servlet-class>com.servlet.AddPeriodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllQuestionServlet</servlet-name>
    <servlet-class>com.servlet.GetAllQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSingleQuestionServlet</servlet-name>
    <servlet-class>com.servlet.DeleteSingleQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeQuestionServlet</servlet-name>
    <servlet-class>com.servlet.ChangeQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeRegionServlet</servlet-name>
    <servlet-class>com.servlet.ChangeRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllPeriodServlet</servlet-name>
    <servlet-class>com.servlet.GetAllPeriodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllSheetServlet</servlet-name>
    <servlet-class>com.servlet.GetAllSheetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllRecordServlet</servlet-name>
    <servlet-class>com.servlet.GetAllRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRecordServlet</servlet-name>
    <servlet-class>com.servlet.AddRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeRecordServlet</servlet-name>
    <servlet-class>com.servlet.ChangeRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSheetServlet</servlet-name>
    <servlet-class>com.servlet.AddSheetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSingleSheetServlet</servlet-name>
    <servlet-class>com.servlet.DeleteSingleSheetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeSheetServlet</servlet-name>
    <servlet-class>com.servlet.ChangeSheetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePeriodServlet</servlet-name>
    <servlet-class>com.servlet.DeletePeriodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePeriodServlet</servlet-name>
    <servlet-class>com.servlet.ChangePeriodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteConnectionServlet</servlet-name>
    <servlet-class>com.servlet.DeleteConnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageBranchServlet</servlet-name>
    <servlet-class>com.servlet.ManageBranchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkerLoginServlet</servlet-name>
    <servlet-class>com.servlet.WorkerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagePeopleServlet</servlet-name>
    <servlet-class>com.servlet.ManagePeopleServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>com.servlet.sys.Log4jInit</servlet-class>
    <init-param>
   <param-name>log4j</param-name>
   <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </init-param>
  </servlet>
  <servlet>
    <servlet-name>LogTest</servlet-name>
    <servlet-class>com.test.jin.LogTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageSystemServlet</servlet-name>
    <servlet-class>com.servlet.ManageSystemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMsgServlet</servlet-name>
    <servlet-class>com.servlet.SendMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModPwdServlet</servlet-name>
    <servlet-class>com.servlet.ModPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageFaultmsgServlet</servlet-name>
    <servlet-class>com.servlet.ManageFaultmsgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PushAlarmServlet</servlet-name>
    <servlet-class>com.servlet.PushAlarmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControlAlarmsServlet</servlet-name>
    <servlet-class>com.test.jin.ControlAlarmsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>











 











  <servlet-mapping>
    <servlet-name>GetAllRegionServlet</servlet-name>
    <url-pattern>/GetAllRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSingleRegionServlet</servlet-name>
    <url-pattern>/DeleteSingleRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPeopleServlet</servlet-name>
    <url-pattern>/AddPeopleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRegionServlet</servlet-name>
    <url-pattern>/AddRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddConnectionServlet</servlet-name>
    <url-pattern>/AddConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPeriodServlet</servlet-name>
    <url-pattern>/AddPeriodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllQuestionServlet</servlet-name>
    <url-pattern>/GetAllQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSingleQuestionServlet</servlet-name>
    <url-pattern>/DeleteSingleQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeQuestionServlet</servlet-name>
    <url-pattern>/ChangeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeRegionServlet</servlet-name>
    <url-pattern>/ChangeRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllPeriodServlet</servlet-name>
    <url-pattern>/GetAllPeriodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllSheetServlet</servlet-name>
    <url-pattern>/GetAllSheetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecordServlet</servlet-name>
    <url-pattern>/AddRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeRecordServlet</servlet-name>
    <url-pattern>/ChangeRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllRecordServlet</servlet-name>
    <url-pattern>/GetAllRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSheetServlet</servlet-name>
    <url-pattern>/AddSheetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSingleSheetServlet</servlet-name>
    <url-pattern>/DeleteSingleSheetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeSheetServlet</servlet-name>
    <url-pattern>/ChangeSheetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePeriodServlet</servlet-name>
    <url-pattern>/DeletePeriodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePeriodServlet</servlet-name>
    <url-pattern>/ChangePeriodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteConnectionServlet</servlet-name>
    <url-pattern>/DeleteConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageBranchServlet</servlet-name>
    <url-pattern>/ManageBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerLoginServlet</servlet-name>
    <url-pattern>/WorkerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagePeopleServlet</servlet-name>
    <url-pattern>/ManagePeopleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Log4jInit</servlet-name>
    <url-pattern>/Log4jInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogTest</servlet-name>
    <url-pattern>/LogTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageSystemServlet</servlet-name>
    <url-pattern>/ManageSystemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMsgServlet</servlet-name>
    <url-pattern>/SendMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModPwdServlet</servlet-name>
    <url-pattern>/ModPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageFaultmsgServlet</servlet-name>
    <url-pattern>/ManageFaultmsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PushAlarmServlet</servlet-name>
    <url-pattern>/PushAlarmServlet</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
    <servlet-name>ControlAlarmsServlet</servlet-name>
    <url-pattern>/servlet/ControlAlarmsServlet</url-pattern>
  </servlet-mapping>
 -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
 
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>com.filter.general.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping> 
   <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.general.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>
