<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GPSRouting</display-name>
  <servlet>
    <servlet-name>GetAllRegionServlet</servlet-name>
    <servlet-class>com.servlet.GetAllRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSingleRegionServlet</servlet-name>
    <servlet-class>com.servlet.GetSingleRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSingleRegionServlet</servlet-name>
    <servlet-class>com.servlet.DeleteSingleRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPeopleServlet</servlet-name>
    <servlet-class>com.servlet.AddPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRegionServlet</servlet-name>
    <url-pattern>/GetAllRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSingleRegionServlet</servlet-name>
    <url-pattern>/GetSingleRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSingleRegionServlet</servlet-name>
    <url-pattern>/DeleteSingleRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPeopleServlet</servlet-name>
    <url-pattern>/AddPeopleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>